<!-- Main Content -->
<main class="content">
    <h1 class="title new-item">New Product</h1>

    <form method="post" id="formProduct" data-urlmain="<?php echo URL_MAIN; ?>" enctype="multipart/form-data">
        <input type="hidden" name="edit" value=<?php echo isset($this->getBd()['id'])? $this->getBd()['id'] : ''; ?>" />

        <div class="input-field">
            <label for="sku" class="label">Product SKU</label>
            <input type="text" id="sku" name="sku" value="<?php echo isset($this->getBd()['sku'])? $this->getBd()['sku'] : ''; ?>" class="input-text" />
        </div>
        <div class="input-field">
            <label for="name" class="label">Product Name</label>
            <input type="text" id="name" name="name" value="<?php echo isset($this->getBd()['name'])? $this->getBd()['name'] : ''; ?>" class="input-text" />
        </div>
        <div class="input-field">
            <label for="image" class="label">Product Image</label>
            <input type="file" id="image" name="image" class="input-text" />
            <?php if(isset($this->getBd()['image']) && $this->getBd()['image'] != ''){ echo '<img src="'.$this->getBd()['image'].'"/>'; } ?>
        </div>
        <div class="input-field">
            <label for="price" class="label">Price</label>
            <input type="text" id="price" name="price" value="<?php echo isset($this->getBd()['price'])? $this->getBd()['price'] : ''; ?>" class="input-text" />
        </div>
        <div class="input-field">
            <label for="quantity" class="label">Quantity</label>
            <input type="text" id="quantity" name="quantity" value="<?php echo isset($this->getBd()['amount'])? $this->getBd()['amount'] : ''; ?>" class="input-text" />
        </div>
        <div class="input-field">
            <label for="category" class="label">Categories</label>
            <select multiple id="category" name="categories[]" class="input-text">
                <?php foreach($this->getBd()['categories'] as $category): ?>
                <option value="<?php echo $category->getId(); ?>" <?php if(isset($this->getBd()['categoriesProduct']) && in_array($category->getId(), $this->getBd()['categoriesProduct'])){ echo 'selected'; } ?>>
                    <?php echo $category->getName(); ?>
                </option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="input-field">
            <label for="description" class="label">Description</label>
            <textarea id="description" name="description" class="input-text"><?php echo isset($this->getBd()['description'])? $this->getBd()['description'] : ''; ?></textarea>
        </div>
        <div class="actions-form form-message">
            <a href="<?php echo URL_MAIN; ?>/products" class="action back">Back</a>
            <input class="btn-submit btn-action" type="submit" value="Save Product" />
        </div>

    </form>
</main>
<!-- Main Content -->