<!-- Main Content -->
<main class="content">
    <h1 class="title new-item">
        <?php echo isset($this->getBd()['id'])? 'Edit Category' : 'New Category'; ?>
    </h1>

    <form method="post" id="formCategory" data-urlmain="<?php echo URL_MAIN; ?>">
        <input type="hidden" name="edit" value="<?php echo isset($this->getBd()['id'])? $this->getBd()['id'] : ''; ?>" />
        <div class="input-field">
            <label for="category-name" class="label">Category Name</label>
            <input type="text" id="category-name" name="name" class="input-text" value="<?php echo isset($this->getBd()['name'])? $this->getBd()['name'] : ''; ?>" required="required" />

        </div>
        <div class="input-field">
            <label for="category-code" class="label">Category Code</label>
            <input type="text" id="category-code" name="code" class="input-text" value="<?php echo isset($this->getBd()['code'])? $this->getBd()['code'] : ''; ?>" required="required" />

        </div>
        <div class="actions-form form-message">
            <a href="<?php echo URL_MAIN; ?>/categories" class="action back">Back</a><input class="btn-submit btn-action" type="submit" value="Save" />
        </div>
    </form>
</main>
<!-- Main Content -->