<!-- Footer -->
<footer>
    <div class="footer-image">
        <img src="<?php echo URL_MAIN; ?>/public/assets/images/go-jumpers.png" width="119" height="26" alt="Go Jumpers" title="Go Jumpers" />
    </div>
    <div class="email-content">
        <span>go@jumpers.com.br</span>
    </div>
</footer>
<!-- Footer -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="<?php echo URL_MAIN; ?>/public/js/main.js"></script>

</body>
</html>